<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <th:block th:if="${jobs}">

        <table>
            <tr>
                <th>Name</th>
                <th>Position Type</th>
                <th>Employer</th>
                <th>Location</th>
                <th>Skill</th>
            </tr>
            <tr th:each="job : ${jobs}">
                <th:block th:each="column:${job}">
                    <td th:text="${column.value}"></td>
                </th:block>
            </tr>
        </table>
    </th:block>
</div>

</body>
</html>